/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
  
  /* Navigation */

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}


nav ul {
    list-style-type: none;
    padding: 0;
}
  
nav ul li {
    display: inline;
    margin-right: 10px;
}
  
  /* Layout */
header, footer {
    background-color: #555;
    color: white;
    padding: 1em;
    text-align: center;

}


.grid{
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}


img{
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #333;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    padding: 1rem;
}







.hero img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
@media (min-width: 768px) {
    .hero {
      flex-direction: row;
      justify-content: space-between;
    }
}


h1, h2 {
    color: #1a8cff;
    margin-bottom: 10px;
    text-align: center;
}




h1 {
    font-size: 2.5em;
}
  
section {
    padding: 2em;
}
  
#events, #music-gallery {
    display: flex;
    flex-wrap: wrap;
}




  

  
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}


/* Form Styles */
form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}
  
label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}
  
input[type="text"], input[type="email"], input[type="tel"], textarea, select {

    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
input[type="submit"] {
    margin-top: 1.5rem;
    padding: 10px 15px;
    background-color: #1a8cff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

  
input[type="submit"]:hover {
    background-color: #1a2cf5;
}


/* Animations */
@keyframes fadeIn {

    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  




/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p, ul {
        font-size: 1.1em;
    }
}
  
footer p, footer a {
    color: #1a8cff;
}
  