/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts and Layout */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 1rem;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    background-color: #333;
}

nav ul li {
    margin-right: 20px;
    background-color: #333;
}


.hamburger{
    display: none;
}



nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #333;
}

nav ul li a.active {
    border-bottom: 2px solid yellow;
}

@media (max-width: 768px) {
  
    
    .hamburger {
        display: none;
    }
  

}


/* Main Layout */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
}


section{
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.course-work, .location, .certificate {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex-basis: 100%;
}

/* Course Work */
.course-work ul {
    list-style: none;
    padding-left: 1.5rem;
}

.course-work ul li {
    padding: 0.5rem 0;
}

/* Location */
.location img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    height: auto;
}

.location p {
    text-align: center;
    font-size: 0.9rem;
}




/* Certificate Section */

.certificate h2 {
    text-align: center;
    margin-bottom: 1rem;
    

}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.filter-buttons button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


#total-credits{
    font-weight: bold;
    margin-top: 15px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.course-card {
    background-color: #8E44AD;
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.completed {
    background-color: #27AE60; /* Green for completed courses */
}

/* Footer */
footer {
    text-align: center;
    background-color: #2C3E50;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

footer .location-flag {
    font-size: 1.2rem;
}

#lastModified {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
